manifest {
    homePage = 'https://github.com/iarcbioinfo/bam2peaks-nf'
    description = 'Call peaks from Atac-seq or Chip-seq bam files'
    mainScript = 'bam2peaks.nf'
}

profiles{

    singularity {
        singularity.enabled = true
        pullTimeout = "200 min"
    }

    apptainer {
        apptainer.enabled = true
        pullTimeout = "200 min"
    }

    docker {
        docker.enabled = true
        pullTimeout = "200 min"
    }

}


process {
    withName:bamCoverage{
	container = 'docker://quay.io/biocontainers/deeptools:3.5.4--pyhdfd78af_1'
    }
    withName:qc_TSS2kb {
        container = 'docker://quay.io/biocontainers/deeptools:3.5.4--pyhdfd78af_1'
    }
    withName:fragmentSize{
        container = 'docker://quay.io/biocontainers/deeptools:3.5.4--pyhdfd78af_1'
    }
    withName:multiBamSummary{
        container = 'docker://quay.io/biocontainers/deeptools:3.5.4--pyhdfd78af_1'
    }
    withName:fingerPrint{
        container = 'docker://quay.io/biocontainers/deeptools:3.5.4--pyhdfd78af_1'
    }
    withName:subSamples{
        container = 'docker://quay.io/biocontainers/samtools:1.19--h50ea8bc_0'
    }
    withName:macs2{
        container = 'docker://quay.io/biocontainers/macs2:2.2.9.1--py39hf95cd2a_0'
    }
    withName:idr{ 
        container = 'docker://quay.io/biocontainers/idr:2.0.4.2--py39hec16e2b_10'
    }
    withName:rmd_report{ 
        //container = 'docker://quay.io/biocontainers/r-tidyverse:1.2.1'
        container = 'cgrlab/tidyverse:latest'
    }
    shell =  ['/bin/bash','-o','pipefail']
}


timeline {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/bam2peaks-nf_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/bam2peaks-nf_report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/bam2peaks-nf_trace.txt"
}

dag {
  enabled = true
  overwrite = true
  file = "${params.output_folder}/nf-pipeline_info/bam2peaks-nf_dag.html"
}

